In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('customer_shopping_behavior.xlsx')

In [3]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [5]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [6]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [7]:
df.groupby('Category')['Review Rating'].median()

Category
Accessories    3.8
Clothing       3.7
Footwear       3.8
Outerwear      3.8
Name: Review Rating, dtype: float64

In [8]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x:x.fillna(x.median()))

In [9]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [10]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [12]:
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(" ","_")

In [14]:
df=df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [15]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [17]:
# create a column age group
labels=['Young Adult','Adult','Middle-aged','senior']
df['age_group']=pd.qcut(df['age'],q=4,labels=labels)

In [18]:
df[['age','age_group']].sample(10)

      age    age_group
2024   62       senior
159    58       senior
1030   58       senior
2215   25  Young Adult
2604   47  Middle-aged
787    53  Middle-aged
339    40        Adult
2234   35        Adult
1802   57  Middle-aged
33     54  Middle-aged

In [19]:
# create column purchase_frequency_days
frequency_mapping={
    'Fortnightly':14,
    'Weekly':7,
    'Monthly':30,
    'Quarterly':90,
    'Bi-Weekly':14,
    'Annually':365,
    'Every 3 Months':90
}
df['purchase_frequency_days']=df['frequency_of_purchases'].map(frequency_mapping)

In [20]:
df[['frequency_of_purchases','purchase_frequency_days']].sample(10)

     frequency_of_purchases  purchase_frequency_days
310             Fortnightly                       14
425               Quarterly                       90
278                Annually                      365
3645         Every 3 Months                       90
995                  Weekly                        7
696                 Monthly                       30
3425              Bi-Weekly                       14
2649            Fortnightly                       14
1184               Annually                      365
978                  Weekly                        7

In [22]:
df[['discount_applied', 'promo_code_used']].sample(10)

     discount_applied promo_code_used
2616               No              No
1454              Yes             Yes
1749               No              No
599               Yes             Yes
1003              Yes             Yes
1387              Yes             Yes
2623               No              No
265               Yes             Yes
2195               No              No
3691               No              No

In [23]:
(df['discount_applied'] == df['promo_code_used']).all()

True

In [24]:
df=df.drop('promo_code_used',axis=1)

In [25]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [26]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp311-cp311-win_amd64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.5.0-cp311-cp311-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.5 MB 1.4 MB/s eta 0:00:12
   - -------------------------------------- 0.8/16.5 MB 1.7 MB/s eta 0:00:10
   --- ------------------------------------ 1.3/16.5 MB 1.7 MB/s eta 0:00:09
   ---- ----------------------------------- 1.8/16.5 MB 1.8 MB/s eta 0:00:09
   ----- ---------------------------------- 2.1/16.5 MB 2.0 MB/s eta 0:00:08
   ------ --------------------------------- 2.9/16.5 MB 2.1 MB/s eta 0:00:07
   ------- -------------------------------- 3.1/16.5 MB 2.1 MB/s eta 0:00:07
   -------- ------------------------------- 3.7/16.5 MB 2.1 MB/s eta 0:00:07
   --------- ------------------------------ 3.9/16.5 MB 2.0 MB/s eta 0:00:07
   ---------- ----------------------------- 4.5/16.5 MB 2.0 MB/s eta 0:00:07
   ------------ --------------------------- 5.0/16.5 MB 2.0 MB/s eta 0:00:06
   ------------ --------------------------- 5.2/16.5 MB 1.9 MB/s eta 0:00:06
   ------------- -------------------------- 5.5/16.5 MB 2.0 MB/s eta 0:00:06
   -------------- ------------------------- 6.0/16.5 MB 1.9 MB/s eta 0:00:06
   --------------- ------------------------ 6.3/16.5 MB 1.9 MB/s eta 0:00:06
   --------------- ------------------------ 6.3/16.5 MB 1.9 MB/s eta 0:00:06
   ---------------- ----------------------- 6.8/16.5 MB 1.8 MB/s eta 0:00:06
   ----------------- ---------------------- 7.1/16.5 MB 1.8 MB/s eta 0:00:06
   ------------------ --------------------- 7.6/16.5 MB 1.8 MB/s eta 0:00:05
   ------------------- -------------------- 8.1/16.5 MB 1.8 MB/s eta 0:00:05
   -------------------- ------------------- 8.4/16.5 MB 1.8 MB/s eta 0:00:05
   -------------------- ------------------- 8.7/16.5 MB 1.7 MB/s eta 0:00:05
   --------------------- ------------------ 8.9/16.5 MB 1.8 MB/s eta 0:00:05
   ---------------------- ----------------- 9.2/16.5 MB 1.7 MB/s eta 0:00:05
   ---------------------- ----------------- 9.4/16.5 MB 1.7 MB/s eta 0:00:05
   ------------------------ --------------- 10.0/16.5 MB 1.7 MB/s eta 0:00:04
   ------------------------ --------------- 10.0/16.5 MB 1.7 MB/s eta 0:00:04
   ------------------------ --------------- 10.2/16.5 MB 1.7 MB/s eta 0:00:04
   -------------------------- ------------- 10.7/16.5 MB 1.7 MB/s eta 0:00:04
   -------------------------- ------------- 11.0/16.5 MB 1.7 MB/s eta 0:00:04
   --------------------------- ------------ 11.5/16.5 MB 1.7 MB/s eta 0:00:03
   ---------------------------- ----------- 11.8/16.5 MB 1.7 MB/s eta 0:00:03
   ----------------------------- ---------- 12.1/16.5 MB 1.7 MB/s eta 0:00:03
   ------------------------------ --------- 12.6/16.5 MB 1.7 MB/s eta 0:00:03
   ------------------------------- -------- 13.1/16.5 MB 1.7 MB/s eta 0:00:03
   -------------------------------- ------- 13.4/16.5 MB 1.7 MB/s eta 0:00:02
   --------------------------------- ------ 13.9/16.5 MB 1.7 MB/s eta 0:00:02
   ---------------------------------- ----- 14.4/16.5 MB 1.7 MB/s eta 0:00:02
   ----------------------------------- ---- 14.7/16.5 MB 1.7 MB/s eta 0:00:02
   ------------------------------------ --- 15.2/16.5 MB 1.7 MB/s eta 0:00:01
   ------------------------------------- -- 15.5/16.5 MB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 16.0/16.5 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 1.7 MB/s  0:00:09
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [27]:
pip install SQLAlchemy

Collecting SQLAlchemy
  Downloading sqlalchemy-2.0.44-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from SQLAlchemy)
  Using cached greenlet-3.2.4-cp311-cp311-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\navneet\appdata\local\programs\python\python311\lib\site-packages (from SQLAlchemy) (4.15.0)
Downloading sqlalchemy-2.0.44-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   -------------- ------------------------- 0.8/2.1 MB 1.7 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 1.4 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 1.4 MB/s eta 0:00:01
   ----------------------------- ---------- 1.6/2.1 MB 1.4 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 1.3 MB/s  0:00:01
Using cached greenlet-3.2.4-cp311-cp311-win_amd64.whl (299 kB)
Installing collected packages: greenlet, SQLAlchemy

   ---------------------------------------- 0/2 [greenlet]
   ---------------------------------------- 0/2 [greenlet]
   ---------------------------------------- 0/2 [greenlet]
   ---------------------------------------- 0/2 [greenlet]
   ---------------------------------------- 0/2 [greenlet]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   -------------------- ------------------- 1/2 [SQLAlchemy]
   ---------------------------------------- 2/2 [SQLAlchemy]

Successfully installed SQLAlchemy-2.0.44 greenlet-3.2.4
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [28]:
pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [29]:
import mysql.connector
from sqlalchemy import create_engine

In [37]:
from urllib.parse import quote_plus

username = 'root'
password = quote_plus('Ernavneet@26')  # auto-encode special characters
host = '127.0.0.1'
database = 'Customer_Behavior'

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}/{database}")

In [38]:
df.to_sql('customer', con=engine, if_exists='replace', index=False)
print("DataFrame successfully stored in MySQL table 'customer'")

DataFrame successfully stored in MySQL table 'customer'